body{
      background-color: #f1f2f7!important;
}

.main-container{
      min-height: 100vh;
}

.sidebar-admin{
      min-height: 100%;
      min-width: 270px;
}

.sidebar-brand{
      font-size: 20px;
      font-weight: 500;
}

.sidebar-brand img{
      width: 50px;
}

.sidebar-link{
      color: #000000;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.5px;
      border-radius: 0px;
      transition: ease-in-out 0.2s;
}

.sidebar-link:hover{
      color: #5370e8;
}

.sidebar-admin .active{
      background-color: #EBF4F6;
      color: #5370e8;
      border-left: 3px solid #5370e8;
}

.section-name-header{
      font-weight: 500;
}

.profile-picture{
      width: 30px;
      height: 30px;
      border-radius: 50px;
      overflow: hidden;
}

.profile-picture img{
      width: 100%;
}

.breadcrumb{
      font-size: 12px!important;
}

.btn-add{
      font-size: 12px!important;
      border-radius: 4px!important;
}

.search-products input::placeholder{
      font-size: 14px;
}

input:focus{
      outline: none!important;
}

.btn-table{
      font-size: 12px;
      color: #000000;
}

.card-filter{
      width: 230px;
      font-size: 12px;
      input, select, option{
            font-size: 12px;
      }
}

.profile-picture-setting img{
      width: 180px;
      height: 180px;
      border-radius: 50%;
}

.profile-role-admin{
      background-color: #C7FFD8;
      color: #0B2F9F;
}

.profile-role-cashier{
      background-color: #F7EFE5;
      color: #674188;
}

.btn-modal-close{
      font-size: 14px;
}

.btn-modal-submit{
      font-size: 14px;
}

.card-dashboard{
      border-radius: 18px!important;
}

.icon-container-dashboard{
      background-color: #CDE8E5;
      width: 25px;
      height: 25px;
      i{
            color: #4D869C;
      }
}

.tag-card-dashboard{
      color: white;
}

.heading-card-dashboard{
      font-size: 20px;
}

.footer-card-dashboard{
      font-size: 12px;
}

.menu-category, .date-wrapp, .list-menu-wrapp, .total-wrapp, .list-group-item{
      font-size: 12px;
}

.product-name-wrapp, .qty-order input{
      font-size: 14px;
}

.product-price{
      font-size: 14px;
      color: #4D869C;
      font-weight: 600;
}

.stock, .phone-member{
      font-size: 14px;
}

.transaction-container{
      width: 500px;
      max-width: 500px;
}

.qty-order input{
      max-width: 60px;
}
.product-name-order-list{
      width: 120px;
}
/* .order-list{
      min-height: 9.5rem;
      max-height: 9.5rem;
      overflow: auto;
      padding-right: 12px;
} */

.dropdown-item{
      font-size: 14px;
}
.dropdown-item:active{
      background-color: white!important;
      color: #000000!important;
}

.card-filter,.dropdown-menu, .dropdown-item{
      z-index: 8!important;
}

.img-product-wrapp{
      height: 200px;
      width: 200px;
      overflow: hidden;
}
.img-product-wrapp img{
      height: 100%;
}

.btn-qty-cart{
      font-size: 24px!important;
}

@media (max-width: 768px) {
      .card-show-product{
            text-align: center;
      }
}

